<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>587095898453-k8vermfvgaf742makf7v9ong2t4p2hkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587095898453-k8vermfvgaf742makf7v9ong2t4p2hkt</string>
	<key>API_KEY</key>
	<string>AIzaSyArk4zvVfGYTFze8_n2JS8cyhEULCzu0Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>587095898453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UsefDev.Movie-Night</string>
	<key>PROJECT_ID</key>
	<string>movie-night-6e05d</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-night-6e05d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587095898453:ios:74414fca9b29a551</string>
	<key>DATABASE_URL</key>
	<string>https://movie-night-6e05d.firebaseio.com</string>
</dict>
</plist>